@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	color-scheme: light;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
}

button {
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

:hover {
	transition: all 0.1s ease-in-out;
}

input {
	background: transparent;
}

.with-tail {
	position: relative;
}

.with-tail::after {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	left: -0px;
	border-width: 1rem;
	border-style: solid;
	border-color: transparent transparent transparent #e5e5e5;
}

.with-tail-blue {
	position: relative;
}

.with-tail-blue::after {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	right: -0px;
	border-width: 1rem;
	border-style: solid;
	border-color: transparent #3b82f6 transparent transparent;
}
